<body>
    <p>admin-add works!</p>
    <!-- // vibhuti shrivastava -->
    <form #adminForm="ngForm" (ngSubmit)="add(adminForm)">
      <div>
        Email:
        <input type="email" name="email" [(ngModel)]="admin.email" required />
      </div>
      <br />
  
      <div>
        Password:
        <input type="password" name="password" [(ngModel)]="admin.password" required />
      </div>
      <br />
  
      <div>
        Confirm Password:
        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required />
      </div>
      <br />
  
      <div>
        <input
          type="submit"
          value="Add"
          [disabled]="!admin.email || admin.password !== confirmPassword"
        />
      </div>
    </form>
  
    <button (click)="goBack()">Back to Login</button>
  </body>
  