<p>revenue-by-user works!</p>
<div class="revenue-container">
  <h2>Get Revenue and  Details</h2>
  <!-- // vibhuti shrivastava -->
  <div>
    <label for="userIdInput">User ID:</label>
    <input type="number" [(ngModel)]="userId" id="userIdInput" />
    <button (click)="fetchRevenueAndUserDetails()">Get Details</button>
  </div>


  <div *ngIf="user">
    <h3>Customer Details:</h3>
    <table border="1" cellspacing="0" cellpadding="5">
      <tr>
        <th style="padding: 10px;">FirstName</th>
        <td style="padding: 10px;">{{ user.firstname }}</td>
        <th style="padding: 10px;">Lastname</th>
        <td style="padding: 10px;">{{ user.lastname }}</td>
        <th style="padding: 10px;">City</th>
        <td style="padding: 10px;">{{ user.city }}</td>
        <th style="padding: 10px;">State</th>
        <td style="padding: 10px;">{{ user.state }}</td>
        <th style="padding: 10px;">Address</th>
        <td style="padding: 10px;">{{ user.address }}</td>
        <th style="padding: 10px;">PhoneNo</th>
        <td style="padding: 10px;">{{ user.phoneno }}</td>
        <th style="padding: 10px;">Email</th>
        <td style="padding: 10px;">{{ user.email }}</td>
        <th style="padding: 10px;">Status</th>
        <td style="padding: 10px;">{{ user.status }}</td>
      </tr>
    </table>
  </div>

  <h3>Total Revenue:</h3>
  <div *ngIf="revenue !== null; else noRevenue">
    <p>Rs. {{ revenue }}</p>
  </div>

  <ng-template #noRevenue>
    <p>No revenue data available.</p>
  </ng-template>
</div>
